.flash-card {
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: column; /* Change to column */
    align-items: center;
    border: 3px solid black; /* Add border style */
    margin: 2% ; 
}

.flash-card-options {
    margin-top: 10px; /* Add some spacing between flash-card and flash-card-options */
}

.done-button{
    margin-top: 5px;
    border-radius: 8px;
    width: 100px;
}

.submit-quiz-button{
    padding: 5px;
    display: flex;
    border-radius: 8px;
    margin: auto;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-selection {
    margin-top:10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; 
}
  
.select-container {
    margin-bottom: 20px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 5%;
}

.user-preference-button{
    padding: 5px;
    display: flex;
    border-radius: 8px;
}

.set-preferences-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    justify-content: center;
}
  
.set-preferences-box p {
margin: 0; 
color: #333;
font-size: 16px;
font-weight: bold;
}

.add-question-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.add-questions-button{
    padding: 5px;
    display: flex;
    border-radius: 8px;
    background-color: greenyellow;
    width: 200px;
}

.delete-questions-button{
    padding: 5px;
    display: flex;
    border-radius: 8px;
    background-color: rgb(249, 48, 48);
    width: 200px;
}

.edit-question-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    height: 200px;
}

