<div class="main-container">
    <div class="add-question-button-container" *ngIf="!preferencesSet">
        <button class="add-questions-button" routerLink="/addQuestion">
            <span class="material-symbols-outlined">add </span>&nbsp; Add more questions
        </button>
        <button class="delete-questions-button" routerLink="/deleteQuestion">
            <span class="material-symbols-outlined">edit</span>&nbsp; Edit questions
        </button>
    </div>
    
    <div class="user-container" *ngIf="!preferencesSet">
        <h4>Set your preferences</h4>
        <div class="user-selection">
            <div class="select-container">
                <h6>Select difficulty level</h6>
                <mat-form-field>
                <mat-label>Difficulty</mat-label>
                <select matNativeControl required [(ngModel)]="difficultyLevelSelected">
                    <option [value]="difficultyLevel" *ngFor="let difficultyLevel of difficultyLevels">{{difficultyLevel}}</option>
                </select>
                </mat-form-field>
            </div>
            
            <div class="select-container">
                <h6>Select subject</h6>
                <mat-form-field>
                <mat-label>Subject</mat-label>
                <select matNativeControl required [(ngModel)]="subjectSelected">
                    <option [value]="subject" *ngFor="let subject of subjects">{{subject}}</option>
                </select>
                </mat-form-field>
            </div>
            
            <div class="select-container">
                <h6>Select number of questions</h6>
                <mat-form-field>
                <mat-label>Number of questions</mat-label>
                <select matNativeControl required [(ngModel)]="numberofQuestionsSelected">
                    <option [value]="numberOfQuestion" *ngFor="let numberOfQuestion of numberOfQuestions">{{numberOfQuestion}}</option>
                </select>
                </mat-form-field>
            </div>
        </div>
        <button class="user-preference-button" (click)="fetchQuestions(difficultyLevelSelected, subjectSelected, numberofQuestionsSelected)">Start Quiz</button>
    </div>
    
    <div *ngIf="preferencesSet" class="set-preferences-box">
        <p>Difficulty Level: {{difficultyLevelSelected}}</p>
        <p>Subject: {{subjectSelected}}</p>
        <p>Number of questions: {{numberofQuestionsSelected}}</p>
    </div>
        
    <div class="center-container" *ngIf="preferencesSet && !quizSubmitted">
        Please enter the correct answer.
        <div *ngFor="let question of quizQuestions; let i = index" class="flash-card">
            <h5>{{i+1}}. {{ question.question }}</h5>
            <form>
                <div *ngFor="let option of question.options" class="flash-card-options">
                    <label>
                        <input type="radio" [value]="option" name="question.id" [(ngModel)]="selectedOption"> {{option}}
                    </label>
                </div>
            </form>
            <button class="done-button" (click)="addSelectedOption(selectedOption, question)">✅</button>
        </div>
        <button class="submit-quiz-button" (click)="submitQuiz()">Submit Quiz</button>
    </div>
    
    <div *ngIf="quizSubmitted" class="score-results-container" id="score-results-container">
        <br>
        <h2 style="text-align:center;">Score: {{totalScore}} / {{totalAttempted}}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Question</th>
                <th scope="col">Selected Option</th>
                <th scope="col">Correct Answer</th>
                <th scope="col">Status</th>
                <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of quizResults">
                <td>{{result.question}}</td>
                <td>{{result.selectedOption}}</td>
                <td>{{result.correctOption}}</td>
                <td>{{result.correctStatus}}</td>
                <td>{{result.score}}</td>
                </tr>
            </tbody>
        </table>
        <button class="download-results-button submit-quiz-button" id="download-results-button" (click)="downloadResults()">Download Results</button>
    </div>
    
    <div class="edit-question-button-container" *ngIf="quizSubmitted">
        <button class="retake-quiz-button" (click)="retakeQuiz()">
            <span class="material-symbols-outlined">refresh</span>&nbsp; Retake quiz
        </button>
        <button class="add-questions-button" routerLink="/addQuestion">
            <span class="material-symbols-outlined">add</span>&nbsp; Add more questions
        </button>
        <button class="delete-questions-button" routerLink="/deleteQuestion">
            <span class="material-symbols-outlined">edit</span>&nbsp; Edit questions
        </button>
    </div>
</div>