<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Quizify</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/app">App</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Quizify!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"routerLink="/app">App</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"routerLink="/contact">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


<!-- <footer class="footer">
  <h5>Quizify!</h5>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="#">About</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

  </ul>
  <p>&copy;2024 Quizify!| All Rights Reserved</p>
</footer> -->
