/* .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 20vh; */
    min-height: 90vh;
    margin-top: 20px;
}

.question-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: 15px;
}

.question-container p {
    margin: 0;
    flex-grow: 1;
}

.question-container button {
    margin-left: 10px;
}

.delete-button{
    background-color: rgb(249, 48, 48);
}

.delete-completion-button{
    border-radius: 8px;
    background-color: greenyellow;
    width: 150px;
    height: 40px;
    padding: 5px;
}