<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
  
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h3> No Problem, Update Your Password Here!</h3>
            <p *ngIf="isEmailNotExists">⚠️This email is not registered. Want to <a routerLink="/register">register</a> instead?⚠️</p>
          <form>

            <div class="form-outline mb-3">
                <input type="email" id="form3Example4" class="form-control form-control-lg" placeholder="Enter your registered email" [(ngModel)]="email" name="email" #emailField="ngModel" [ngModelOptions]="{standalone:true}" required/>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Enter new phone number" [(ngModel)]="phone" name="phone" #phoneField="ngModel" [ngModelOptions]="{standalone:true}" required/>
            </div>

            <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter new password" [(ngModel)]="password" name="password" #passwordField="ngModel" [ngModelOptions]="{standalone:true}" required/>
            </div>
            
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="update($event)" [disabled]="!emailField.valid || !phoneField.valid || !passwordField.valid">Update Password</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
