<!-- Welcome to Quizify! Where your grades are heard -->
<div class="main-container">
    <div class="blur-circle1">
    </div>
    <div class="blur-circle2">
    </div>
  <div class="landing-page">
    <header>
      <div class="container">
        <a routerLink="/home" class="logo"><b>Quizify!</b></a>
        <!-- <ul class="links">
          <li>Home</li>
          <li>About Us</li>
          <li>Work</li>
          <li>Info</li>
          <li>Get Started</li>
        </ul> -->
        <p class="logo">Where your grades are heard!</p>
      </div>
    </header>
    
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Want to Better your Grades</h1>
          <p>Quizify is an innovative in-class quiz app designed to engage students with questions across a multitude of subjects and varying difficulty levels. Tailored for a dynamic learning environment, Quizify offers a unique auditory experience where your grades are not just seen, but heard. From Mathematics to History, and Easy to Hard, every quiz is crafted to enhance understanding, foster competition, and make learning an interactive experience. Perfect for educators looking to invigorate their teaching methods and students eager for a challenging yet fun academic journey. Dive into Quizify, where learning resonates with every note of success.
          </p>
          <button routerLink="/login">Sign Up or Register</button>
        </div>
        <div class="image">
          <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
          <!-- <img class="main-image" src="https://thumbs.dreamstime.com/b/grades-icon-vector-isolated-white-background-your-web-mobile-app-design-logo-concept-sign-symbol-133756532.jpg"> -->
        </div>
      </div>
    </div>
  </div>
</div>